meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Estructuración del programa de formación
meta(meta name="description" content="A través del componente formativo Estructuración del programa de formación, se facilitarán al aprendiz los elementos necesarios para elaborar los perfiles de egreso e ingreso, así como estructurar la matriz de correlación y explicar cuáles son las características del perfil del instructor; además de la definición de  los ambientes de aprendizajes mínimos requeridos para el desarrollo de cada competencia del programa de formación según las condiciones y características del diseño curricular.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")