h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 Cód. 240201063-01
        p.mb-0 Elaborar perfiles de egreso e ingreso de acuerdo con la guía de diseño curricular del SENA.

.card.resultado-item
    .card-body
        h5 Cód. 240201063-02
        p.mb-0 Estructurar las competencias del programa aplicando lineamientos de la guía de diseño curricular.
