.curso-portada

    .row.align-items-center

        .col-12.col-lg-6

            h3.curso-subtitulo APLICACIÓN DE LA METODOLOGÍA SENA PARA EL DISEÑO CURRICULAR
            h1.curso-titulo Estructuración del programa de formación

            .brand-line-primary.brand-line-primary--black

            p.curso-descripcion A través del componente formativo Estructuración del programa de formación, se facilitarán al aprendiz los elementos necesarios para elaborar los perfiles de egreso e ingreso, así como estructurar la matriz de correlación y explicar cuáles son las características del perfil del instructor; además de la definición de  los ambientes de aprendizajes mínimos requeridos para el desarrollo de cada competencia del programa de formación según las condiciones y características del diseño curricular.


            a.curso-btn-iniciar.btn.btn-light(href="main.html")
                span Iniciar Curso

        .col-12.col-lg-6
            .d-none.d-lg-block
                img(src="assets/images/header/header_media.svg")