.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Autor
                th Tipo de material
                th Enlace del recurso

        tbody
            tr
                td 
                    strong Clasificación de ocupaciones C N O  
                td PDF
                td 
                    a(href="https://observatorio.sena.edu.co/Content/pdf/cno_version_2018.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar


            tr
                td 
                    strong Estructura funcional de la ocupación y Norma Sectorial de Competencia laboral
                td Sitio web
                td 
                    a(href="http://certificados.sena.edu.co/claborales/", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver enlace


            tr
                td
                    strong Búsqueda de EFO Y NSCL
                td Sitio web
                td 
                    a(href="http://certificados.sena.edu.co/claborales/", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver enlace


            tr
                td 
                    strong Resolución 1-2198 de 2019
                td Sitio web
                td 
                    a(href="http://normograma.sena.edu.co/normograma/docs/resolucion_sena_2198_2019.htm", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver enlace


            tr
                td 
                    strong Taxonomía bloom
                td Libro
                td Bloom, B.S. (1956). Taxonomía de los objetivos educacionales, Manual I: El dominio cognitivo. Nueva York: David McKay Co Inc

