include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 2. Matriz de Correlación o Tabla de Saberes

    p La definición de los componentes curriculares de las competencias específicas, definidas por las Normas sectoriales de Competencia laboral, se relacionan con los resultados de aprendizaje, los cuales debe dar respuesta a lo descrito en el perfil de egreso, desde el conocimiento, el hacer y lo que es capaz de hacer al culminar un proceso de aprendizaje.

    .d-flex.my-5
        figure.mr-4
            img(src="assets/images/pages/tema-2/icon-1.svg")

        p.flex-grow-1 Teniendo en cuenta lo anterior se construye la matriz de correlación o tabla de saberes, donde se establecen los contenidos para cada resultado de aprendizaje en cuanto a conocimientos de saber, conocimientos de proceso y criterios de evaluación.

    .d-flex.my-5
        figure.mr-4
            img(src="assets/images/pages/tema-2/icon-2.svg")

        p.flex-grow-1 La Guía de Diseño Curricular, define cada uno de los componentes de diseño relacionados con los resultados de aprendizaje y su expresión gramatical.


    p.text-center.my-5
        a(href="media/anexo_2/", target="_blank")
            img(src="assets/images/pages/tema-2/ambientacion-1.svg")


    p.my-5 El presente video le mostrará cómo se elabora la matriz de correlación y los criterios técnicos y gramaticales a tener en cuenta de acuerdo <strong>con lo establecido en la Guía de Diseño Curricular.</strong>


    .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/eWtBJTFMpNk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    section.my-5
        a(href="media/documentos/Anexo_2_2_matriz_de_correlacion.pdf" target="_blank").media-link      
            img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
            .media-link-title
                p #[strong Anexo]. Matriz de correlación <br><small>Diapositivas usadas en el video</small>