include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 1. Perfiles

    .jumbotron.bg-verde-claro
        p En esta sesión se indicarán los criterios a tener en cuenta en la elaboración de los perfiles de egreso e ingreso de los aprendices y la construcción de la matriz de correlación.


    p Los perfiles de egreso e ingreso en los programas SENA, para los niveles de formación laboral y tecnológicos, son elaborados por el equipo de diseño curricular de la red de conocimiento y deben dar respuesta a la necesidad de formación requerida por el sector productivo y social. Con dichos perfiles se deben relacionar las competencias específicas, claves y transversales.

    p Teniendo definidos los perfiles, se elaboran los componentes curriculares a partir de la matriz de correlación o tablas de saberes, donde se definen los resultados de aprendizaje para la competencia específica y su correlación con los conocimientos de saber, proceso y criterios de evaluación, teniendo en cuenta la estructura gramatical indicada en la guía de diseño curricular.

    p Definida la matriz de correlación o tabla de saberes, el equipo de diseño curricular a partir del manual de funciones de los instructores técnicos y establecidos para cada red de conocimiento, debe asignar a cada competencia específica el instructor que esta requiera.

    p Los ambientes de formación, materiales, equipos y recursos bibliográficos deben ser asignados por el equipo de diseño curricular, para cada una de las competencias técnicas. Estos nos permiten dar respuesta en lo técnico a que el aprendiz alcance los resultados de aprendizaje.


    p.text-center.my-5
        img(src="assets/images/pages/tema-1/personas.svg")