include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/QnT5hWaWobQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    section.my-5
        a(href="media/documentos/Anexo_2_1_perfiles_de_egreso_e_ingreso.pdf" target="_blank").media-link      
            img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
            .media-link-title
                p #[strong Anexo]. Perfiles de egreso e ingreso <small>Diapositivas usadas en el video</small>


    #tema-11.header-ecored
        h2 1.1 Perfil de egreso

    .row.align-items-center
        .col-12.col-md-6
            figure
                img(src="assets/images/pages/tema-1/perfil-egreso.svg")
        .col-12.col-md-6
            p En el perfil de egreso se identifican las competencias que logra el aprendiz al finalizar el proceso formativo a nivel ocupacional y profesional para su incorporación al mundo del trabajo y la vida. Es utilizado para orientar los contenidos del programa de formación en sus resultados de aprendizaje para dar respuesta a las demandas del sector productivo y social.

            p Además, el perfil de egreso debe considerar las competencias claves y transversales para el desarrollo de la formación integral.


    #tema-12.header-ecored.mt-5
        h2 1.2 Perfil de ingreso

    p La entrada de las personas a un programa de formación es definida por el perfil de ingreso, el cual debe cumplir con los requisitos y condiciones requeridas por el SENA y normativa del sector acorde con el programa de formación. Adicionalmente se deben describir las competencias básicas en conocimientos, habilidades, aptitudes, destrezas que pueda demostrar el aspirante durante el proceso de selección.

    p La guía de diseño curricular establece la ruta para la elaboración de los perfiles de egreso e ingreso y los criterios a en cuenta en su elaboración. La responsabilidad del asesor metodológico es guiar al equipo de diseño curricular para que estos perfiles cumplan con los criterios técnicos establecidos en la guía.

    p.text-center.my-5
        img(src="assets/images/pages/tema-1/perfil-ingreso.svg")


    p En la presentación que se muestra en el video se pretende dar el contexto de los criterios a tener en cuenta para la elaboración de los perfiles de egreso e ingreso y procedimiento de validación técnica con el sector externo.