include ../mixins/functions

+pageHeader('Titulo del Tema', 'assets/images/header/header_media.svg')

.container

    .header-ecored
        h1 3. Perfil del instructor y ambiente de aprendizaje

    .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/TSQsP65frbg', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    section.my-5
        a(href="media/documentos/Anexo_2_3_perfil_instructor.pdf" target="_blank").media-link      
            img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
            .media-link-title
                p #[strong Anexo]. Perfil del instructor <br><small>Diapositivas usadas en el video</small>


    #tema-31.header-ecored
        h2 3.1 Perfil del instructor

    p El instructor técnico de las competencias específicas debe orientar los resultados de aprendizaje que le van a servir a él como al aprendiz para la verificación de los procesos cognitivos, motrices, valorativos y actitudinales que le permitan desarrollar las competencias en la formación profesional integral.

    p Es así como el SENA, establece los perfiles de los instructores técnicos para cada red de conocimiento. Estos perfiles describen el área funcional, funciones esenciales y transversales, conocimientos básicos, competencias comportamentales y habilidades pedagógicas.

    p.text-center.my-5
        img(src="assets/images/pages/tema-3/perfil-1.svg")


    #tema-32.header-ecored
        h2 3.2 Ambientes de formación

    .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/SwQPNywaFtM', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    section.my-5
        a(href="media/documentos/Anexo_2_4_ambientes_aprendizaje.pdf" target="_blank").media-link      
            img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
            .media-link-title
                p #[strong Anexo]. Ambientes de formación <br><small>Diapositivas usadas en el video</small>


    p Los ambientes de formación deben propiciar y facilitar el logro de los resultados de aprendizaje en cada una de las competencias del diseño, para que el programa sea pertinente y vigente acorde con los requerimientos de la Formación Profesional Integral. 

    p Los ambientes de formación están conformados por un componente físico o de infraestructura, componente tecnológico y componente pedagógico, este último mediante estrategias como el trabajo en equipo, investigación, acceso y utilización de TIC que posibilitan junto con la mediación del instructor, una dinámica de transferencia creativa del conocimiento a situaciones reales.       

    p.text-center.my-5
        img(src="assets/images/pages/tema-3/ambientes.svg")    